@import 'base.css';
* {
    color: var(--color-font);
    font-size: 25px;
    font-weight:300
}
body {
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    color: white;

}
.title {
    text-align: center;
}
.addTodoBar {
    border: 1px solid var(--color-border);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 20px;
    width: 40rem;
    display: flex;
    gap: 3%;
    border-radius: 45px;
    height: 30px
}

#typeTodo {
    width: 100%;
   background-color: var(--color-bg);
   border: none;
   padding-left: 10px3

}
ul {
    /* background-color: yellow; */
    width: 40rem;
    margin: auto;
    padding: 0;
    display: flexbox;
    flex-direction: column;
    gap: 10%;
    border-color: var(--color-border)
    
}
li {
    list-style: none;
    margin-bottom: 17px;
    gap: 5px;

}
ul li .visible{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: 1px solid var(--color-border);
    padding: 20px;
    height: 18px
}

.todoContentBar {
    width: 100%;
    background-color: var(--color-bg);
    border: none;
}
.taskCompletion {
    text-decoration: line-through;
    color: var(--color-border)

}
.savedTodo {
    margin: 0;
    padding: 10px;
    overflow: hidden;
    display: inline-block;
    width: 80%;
    background-color: var(--color-bg);
}

.manageTodo {
    position: fixed;
    background-color: white;
}

.done {
    display: inline-block;
    height: 39.5px;
    width: 39.5px;
    margin-right: 5px

}

.delete {
    background-color: var(--color-delete);

}

.hidden {
    height: 150px;
    border: 1px solid var(--color-border);
    border-radius: 30px;
    padding: 20px;
    justify-content: stretch;
    gap: 20px;
    display: flex
}

.notes {
    height: 140px;
    width: 100%;
    padding: 6px;
    margin: 0;
    background-color: var(--color-border);
    font-size: 20px;
}

.rightHidden {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 5px;
    padding: auto;
    flex: 1
}

.leftHidden {
    margin: 0;
    display: flex;
    justify-content: stretch;
    flex: 2
}

.footerDiv {
    position: fixed;
    display: flex;
    bottom: 0.5rem;
    padding: 15px;
    justify-content: space-between;
    margin: auto;
    gap: 4%;
    background-color: var(--color-footer);
    border-radius: 35px;
    width: 99%
}

.clearAll {
    font: 1em sans-serif;
    background-color: var(--color-border);
    border-radius: 30px;
    border: none;
    width: 10rem;
    padding: 5px;
    margin-right: 20px;
    color: white
}
.clearDone {
    font: 1em sans-serif;
    background-color: var(--color-border);
    border-radius: 30px;
    border: none;
    width: 10rem;
    padding: 5px;
    margin-left: 20px;
    color: white

}

.footer {
    display: flex;
    align-items: center;
}

.expandButton {
    height: 100%;
    margin-right: 10px;
    height: 36px;
    width: 36px;
    background-color: var(--color-border);
    border-radius: 3px;
    border: none;
    color: white
}

.date {
    background-color: var(--color-border);
}

.priority {
    background-color: var(--color-border);
}

